h1, h2 {
    text-align: center;
}

h2 {
	font-size: smaller;
}

fieldset {
    float: left;
}

label {
    display: block;
}

#potato {
    position: relative;
    width: 367px;
    height: 428px;
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
    background-image: url(https://webster.cs.washington.edu/labs/09sp/8/body.png);
    background-color: white;
}

#potato img {
    position: absolute;
}
#nose_image {
    top : 60px;
    left: 130px;
}


#arms_image {
  top: 150px;
  left: 25px;
}

#mouth_image { 
    top: 80px; 
    left:119px;
}

#w3c {
	margin-top: 3em;
	text-align: center;
}

#w3c img {
	border: 0;
}


#eyes_image{
 top:90px;
 left:125px;
}

#ears_image{
    top:40px;
    left:45px;
}
